*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:400px) {
    
}
.QUES-WRAPPER{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid red;
}
.QUES-TOP{
    display: flex;
    align-items: center;
    gap: 10px;
}
.QUES-TOP img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.QUES-MID{
    
}
